@model CRME.Models.cat_usuarios



@*@model CRME.Models.Personas @model CRME.Models.Empresa *@



@if (ViewBag.edit != 1)
{
    <div class="row margin-10">
        <div class="col l6 m6 s11 titlecircle">
            <b>Nuevo empleado</b>
        </div>
        <div class="col l6 m6 s1 separator">
        </div>
    </div>
}
else
{
    <div class="row margin-10">
        <div class="col l6 m6 s11 titlecircle">
            <b>Editar empleado</b>
        </div>
        <div class="col l6 m6 s1 separator">
        </div>
    </div>
}
@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "", id = "FrmEmpresa" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.usuario_ID)
    @*   @Html.HiddenFor(model => model.Em_Cve_Empresa) *@

    @* ----------------Datos linea----------------*@
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s12 m4 l4 input-field">
                    <b class="">Nombres:</b>
                    <div class="input-field margin-top-0">

                        @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "Validate form-simple", @Placeholder = "Ingrese el nombre", @minlength = 1, @maxlength = 70, @Style = "margin-bottom:0px !important;" } })
                        @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>

                <div class="col s12 m4 l4 input-field">
                    <b class="">Primer apellido:</b>
                    <div class="input-field margin-top-0">

                        @Html.EditorFor(model => model.paterno, new { htmlAttributes = new { @class = "Validate form-simple", @Placeholder = "Ingresa el primer apellido", @minlength = 1, @maxlength = 25, @Style = "margin-bottom:0px !important;" } })
                        @Html.ValidationMessageFor(model => model.paterno, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
                <div class="col s12 m4 l4 input-field">
                    <b class="">Segundo apellido:</b>
                    <div class="input-field margin-top-0">

                        @Html.EditorFor(model => model.materno, new { htmlAttributes = new { @class = "Validate form-simple", @Placeholder = "Ingrese el segundo apellido", @minlength = 1, @maxlength = 25, @Style = "margin-bottom:0px !important;" } })
                        @Html.ValidationMessageFor(model => model.materno, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
            </div>
            <!--Correo-->
            <div class="row">
                <div class="col s12 m4 l4 input-field">
                    <b class="">RFC:</b>
                    <div class="input-field margin-top-0">
                        @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "Validate form-mail", @Placeholder = "Ingrese el correo", @maxlength = 100, @Style = "margin-bottom:0px !important;" } })
                        @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>

                <div class="col s12 m4 l4 input-field">
                    <b class="">Nivel de Estudio:</b>
                    <div class="input-field margin-top-0">
                        @if (Model.idNivelEstudio == 0)
                        {
                            @Html.DropDownListFor(model => model.idNivelEstudio, new SelectList(ViewBag.nvlest, "Value", "Text"), "-- Seleccione el nivel de estudio --", htmlAttributes: new { @class = "select classic" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.idNivelEstudio, new SelectList(ViewBag.nvlest, "Value", "Text"), "-- Seleccione el nivel de estudio --", new { @class = "select classic" })
                        }
                        @Html.ValidationMessageFor(model => model.idNivelEstudio, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>

                <div class="col s12 m4 l4 input-field">
                    <b class="">Correo:</b>
                    <div class="input-field margin-top-0">
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "Validate form-mail", @Placeholder = "Ingrese el correo", @maxlength = 100, @Style = "margin-bottom:0px !important;" } })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3 l3 input-field">
                    <b class="">Empresa:</b>
                    <div class="input-field margin-top-0">
                        @Html.DropDownList("Em_Cve_Empresa", new SelectList(ViewBag.empresa, "Value", "Text"), "-- Empresa --", htmlAttributes: new { @class = "select classic" })
                        @Html.ValidationMessageFor(model => model.Em_Cve_Empresa, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
                <div class="col s12 m3 l3 input-field">
                    <b class="">Sucursal:</b>
                    <div class="input-field margin-top-0">
                        @Html.DropDownList("Sc_Cve_Sucursal", new SelectList(ViewBag.sucursal, "Value", "Text"), "-- Sucursal --", htmlAttributes: new { @class = "select classic" })
                        @Html.ValidationMessageFor(model => model.Sc_Cve_Sucursal, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
                <div class="col s12 m3 l3 input-field">
                    <b class="">Departamento:</b>
                    <div class="input-field margin-top-0">

                        @Html.DropDownList("Dp_Cve_Departamento", new SelectList(ViewBag.departamento, "Value", "Text"), "-- Departamento --", htmlAttributes: new { @class = "select classic" })
                        @Html.ValidationMessageFor(model => model.Dp_Cve_Departamento, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
                <div class="col s12 m3 l3 input-field">
                    <b class="">Puesto:</b>
                    <div class="input-field margin-top-0">
                        @Html.DropDownList("Pu_Cve_Puesto", new SelectList(ViewBag.puesto, "Value", "Text"), "-- Puesto --", htmlAttributes: new { @class = "select classic" })
                        @Html.ValidationMessageFor(model => model.Pu_Cve_Puesto, "", new { @class = "text-danger" })
                        <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="row">
                <div class="col push-l6 l6 push-m4 m8 s12 right-align">
                    <a class="btn red darken-4 waves-effect" href="@Url.Action("Index","NuevoEmpleadosView")"><i class="mdi mdi-close hide-on-small-and-down"></i> Cancelar</a>
                    <button type="button" class="btn blue darken-4 waves-effect guardarEmpresa" style="margin-left: 10px"><i class="mdi mdi-content-save hide-on-small-and-down"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
}

