<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Upload/Sistema/favicon.png" type="image/png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/JQueryUI")
    @Styles.Render("~/Content/Materialize")
    @Styles.Render("~/Content/Iconos")
    @Styles.Render("~/Content/Fileinput")
    @Styles.Render("~/Content/Modal")
    @Styles.Render("~/Content/nouislider")

</head>
<body>
    @if (@ViewBag.HiddenMenu == 1)
    {
        <div class="navbar-fixed margin-bottom-15">

            <nav class="white">
                <div class="nav-wrapper">
                    @if (Auth.Usuario != null)
                    {
                        <a href="#" data-activates="slide-out" id="menu" data-tooltip="Menú">
                            <img class="img-layout" src="~/Upload/Sistema/sire_final.png" style="width:125px;" />
                        </a>
                    }
                </div>
                <!-- <a href="#" id="ayuda"><i class="mdi mdi-help-circle black-text"></i></a> -->
            </nav>
        </div>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    @if (Auth.Usuario.foto != null)
                    {
                        <a href="#!user"><img class="circle" style="border:solid" src="@Auth.Usuario.foto.Replace("~","")"></a>
                        <span class="blue-text name">@Auth.Usuario.nombre.ToUpper()  @Auth.Usuario.apellido_paterno.ToUpper()  @Auth.Usuario.apellido_materno.ToUpper()</span>
                        <a href="@Url.Action("Salir", "AccesoView")" title="Cerrar Sesion"><span class="blue-text"><i class="small mdi mdi-logout"></i></span></a>
                        <a href="#ancla" class="cambiarfoto" title="Cambiar Foto"><span class="blue-text"><i class="small mdi mdi-cog"></i></span></a>
                    }
                    else
                    {
                        <a href="#!user"><img class="circle" style="border:solid" src="~/Upload/Sistema/default.png"></a>
                        <span class="blue-text name">John Doe</span>
                        <a href="@Url.Action("Salir", "AccesoView")"><span class="blue-text"><i class="small mdi mdi-logout"></i>Cerrar sesion</span></a>
                    }

                </div>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li class="active"><a href="@Url.Action("Index", "PanelView")"><i class=" small mdi mdi-home-outline"></i><span>Inicio</span></a></li>

                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li>
                                    <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Sistemas<i class="mdi mdi-chevron-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li class="active" style="overflow: hidden; background-color: rgba(0,0,0,0.05);"><a href="@Url.Action("Index","ResguardosView")"><i class="small mdi mdi-laptop"></i><span style="color: black">laptops</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoEnsamblesView")"><i class="small mdi mdi-desktop-classic"></i><span style="color: black">Ensambles</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoMovilesView")"><i class="small mdi mdi-cellphone"></i><span style="color: black">Móviles</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoImpresorasView")"><i class="small mdi mdi-printer"></i><span style="color: black">Impresoras</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoLineasView")"><i class="small mdi mdi-sim"></i><span style="color: black">Lineas</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    }

                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li>
                                    <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Operaciones<i class="mdi mdi-chevron-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoMobiliarioView")"><i class="small mdi mdi-desk"></i><span style="color: black">Mobiliario</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoVehiculosView")"><i class="small mdi mdi-car"></i><span style="color: black">Vehículos</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardoUnidadesView")"><i class="small mdi mdi-truck"></i><span style="color: black">Unidades</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    }

                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li>
                                    <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Recursos Humanos<i class="mdi mdi-chevron-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "EmpresasView")"><i class="small mdi mdi-office-building"></i><span style="color: black">Empresa</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "SucursalesView")"><i class="small mdi mdi-store"></i><span style="color: black">Sucursales</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "DepartamentosView")"><i class="small mdi mdi-account-group"></i><span style="color: black">Departamentos</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "PuestosView")"><i class="small mdi mdi-clipboard-account-outline"></i><span style="color: black">Puestos</span></a></li>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "NuevoEmpleadosView")"><i class="small mdi mdi-account-tie"></i><span style="color: black">Empleados</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    }
                    <li>
                        <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Mantenimiento<i class="mdi mdi-chevron-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "EdificiosView")"><i class="small mdi mdi-office-building-plus"></i><span style="color: black">Registro</span></a></li>

                                @if (Auth.Usuario.perfil_ID != 3)
                                {
                                    if (Auth.Usuario.perfil_ID != 5)
                                    {
                                        <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "AutorizacionView")"><i class="small mdi mdi-office-building-cog"></i><span style="color: black">Autorización</span></a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Equipo menor<i class="mdi mdi-chevron-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "HerramientasView")"><i class="small mdi mdi-tools"></i><span style="color: black">Inventario E.M.</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "FamiliaView")"><i class="small mdi mdi-family-tree"></i><span style="color: black">Familia</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "SubFamiliaView")"><i class="small mdi mdi-file-tree"></i><span style="color: black">Subfamilia</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "CondicionView")"><i class="small mdi mdi-list-status"></i><span style="color: black">Condicion</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "MedidasView")"><i class="small mdi mdi-ruler"></i><span style="color: black">Medida</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "UnidadMedidaView")"><i class="small mdi mdi-tape-measure"></i><span style="color: black">Unidad de medida</span></a></li>
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ResguardosHeramientas")"><i class="small mdi mdi-file-check"></i><span style="color: black">Resguardos</span></a></li>
                            </ul>
                        </div>
                    </li>
                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li>
                                    <a class="collapsible-header" style="background-color: rgba(0,0,0,0.05) " tabindex="0">Configuracion<i class="mdi mdi-chevron-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "UsuarioView")"><i class="small mdi mdi-account-cog-outline"></i><span style="color: black">Usuarios</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    }

                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "PanelInvView")"><i class="small mdi mdi-dolly"></i><span style="color: black">Inventario</span></a></li>
                            }
                        }
                    }

                    <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "ProveedoresView")"><i class="small mdi mdi-cart-outline"></i><span style="color: black">Proveedor</span></a></li>



                    @if (Auth.Usuario.perfil_ID != 3)
                    {
                        if (Auth.Usuario.perfil_ID != 4)
                        {
                            if (Auth.Usuario.perfil_ID != 5)
                            {
                                <li class="active" style="background-color: rgba(0,0,0,0.05)"><a href="@Url.Action("Index", "CecosView")"><i class="small mdi mdi-account-cash-outline"></i><span style="color: black">Ce_cos</span></a></li>
                            }
                        }
                    }
                </ul>
            </li>
        </ul>
    }
    <div class="container body-content">
        @RenderBody()
    </div>

    @*<div id="modal2" class="modal " style="background-color: #fff; border: 2px solid #3399FF; max-height: 75% !important; margin-top: 30px">
        <b class="center-align blue-text margin-left-right-10">Datos</b>
        <div class="headline"></div>
        @using (Html.BeginForm("SaveDatos", "IndicadoresView", FormMethod.Post, new { @class = "form-simple", id = "FrmDatos" }))
        {
            <div class="modal-content">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="AgregarDatos">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <a class="btn btn-danger modal-close" style="margin-right:10px;"><i class="mdi mdi-close"></i>Cancelar</a>
                        <button type="submit" class="btn orange waves-effect margin-right-5 editarIndicador" id-solicitud="@ViewBag.Indicadores_ID"><i class="mdi mdi-content-save"></i>Guardar</button>
                    </div>
                </div>
            </div>
        }
    </div>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUnobtrusive")
    @Scripts.Render("~/bundles/nouislider")
    @Scripts.Render("~/bundles/JQueryUI")
    @Scripts.Render("~/bundles/Materialize")
    @Scripts.Render("~/bundles/Fileinput")
    @Scripts.Render("~/bundles/Modal")
    @Scripts.Render("~/bundles/Mask")

    @RenderSection("scripts", required: false)

    <script>
        // Initialize collapse button
        $("#menu").sideNav();
        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        $('.collapsible').collapsible();
        $('#menu').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            onOpen: function (el) { /* Do Stuff*/ },  // A function to be called when sideNav is
            openedonClose: function (el) { /* Do Stuff*/ }, // A function to be called when sideNav is closed
        }
        );

        @*$("#slide-out").off('click', '.cambiarfoto');
        $("#slide-out").on('click', '.cambiarfoto', function (e) {
            e.preventDefault();
            var indicadores_ID = $(this).attr("id-item");
            $('#AgregarDatos').load('@Url.Action("_FormularioDatos", "IndicadoresView")', { indicadores_ID }, function (response, status, xhr) {
                    if (status == "success") {

                    }
                });
                $("#modal2").modal({
                    dismissible: false,
                });
                $("#modal2").modal('open');
        });*@


    </script>
</body>
</html>
