@model PagedList.IPagedList<CRME.Models.Idiomas>
@using PagedList.Mvc;
@{
    ViewBag.Title = "_ConsultarIdiomas";
}

<div class="row right">
    <div class="col s12">
        <a class="btn orange darken-4 waves-effect" style="cursor:pointer;" id="agregarIdioma"><i class="mdi mdi-plus"></i>Agregar</a>
    </div>
</div>
<table class="margin-top-30 striped highlight">
    <thead class="table-header-orange">
        <tr class="table-header-tr-orange">
            <th class="center">Nombre del idioma</th>
            <th class="center hide-on-med-and-down">Nivel de lectura</th>
            <th class="center hide-on-med-and-down">Nivel de  escritura</th>
            <th class="center hide-on-med-and-down">Nivel de conversación</th>
            <th class="center">Opciones</th>
        </tr>
    </thead>
    <tbody class="table-body-orange">
        @if (Model.Count() == 0)
        {
            <tr class="table-body">
                <td colspan="6" class="center">
                    <b>No se encontraron coincidencias</b>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="table-body">
                    <td class="left-align">@Html.DisplayFor(model => item.nbIdioma)</td>
                    <td class="center hide-on-med-and-down">@Html.DisplayFor(model => item.NivelesConocimientos.nbNivelConocimiento)</td>
                    <td class="center hide-on-med-and-down"> @Html.DisplayFor(model => item.NivelesConocimientos1.nbNivelConocimiento)</td>
                    <td class="center hide-on-med-and-down"> @Html.DisplayFor(model => item.NivelesConocimientos2.nbNivelConocimiento)</td>
                    <td>
                        <a class="editarIdioma" title="Editar" style="cursor:pointer;" id-item="@item.idIdioma" id-alumno="@item.idAlumno"><i class="mdi mdi-pencil mdi-24px orange-text"></i></a>&nbsp;&nbsp;
                        <a class="eliminarIdioma" title="Eliminar" style="cursor:pointer;" id-item="@item.idIdioma" id-alumno="@item.idAlumno"><i class="mdi mdi-delete mdi-24px red-text"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row">
    <div class="col s12">
        @if (Model != null)
        {
            @Html.PagedListPager(Model, page => Url.Action("_TablaIdiomas", "AlumnoView", new { page, idAlumno = @ViewBag.idAlumno }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
       {
           Display = PagedListDisplayMode.IfNeeded,
           DisplayPageCountAndCurrentLocation = true,
           DisplayItemSliceAndTotal = false,
           PageCountAndCurrentLocationFormat = "Página {0} de {1}.",
           ItemSliceAndTotalFormat = "Mostrando los elementos {0} a {1} de {2}.",
           LinkToIndividualPageFormat = "{0}",
       }, new AjaxOptions()
       {
           HttpMethod = "POST",
           UpdateTargetId = "tablaIdiomas",
           OnComplete = "FltOnCompleteI",
           OnBegin = "FltOnBeginI"
       }))
        }
    </div>
</div>
