
@using PagedList.Mvc
@model PagedList.IPagedList<CRME.Models.Calendario>
@{
    CRME.Models.SIRE_Context db = new CRME.Models.SIRE_Context();
}

<div class="row margin-10">
    <div class="col l6 m6 s11 titlecircle">
        <b>Calendarizacion</b>
    </div>
    <div class="col l6 m6 s1 separator">
    </div>
</div>
<div id="tblCalendario">
    @*<div class="row">
        <div class="col s12 m6 l6 input-field form-simple center-align">
            <input type="text" name="busqueda" id="filtroBusqueda" onkeypress="if (event.keyCode == 13) Buscar()" Value="@ViewBag.filtro" placeholder="buscar por descripcion" />
        </div>
        <div class="col s12 m6 l6 input-field">
            <button class="btn light-blue darken-4 waves-effect buscarSoli white-text"><i class="mdi mdi-magnify"></i> Buscar</button>
            <button class="btn light-blue darken-4 waves-effect limpiar" style="margin-left: 10px" title="LIMPIAR"><i class="mdi mdi-filter-remove"></i></button>
        </div>
    </div>*@
    <div class="row">
        <div class="col l12 m12 s12">
            <table class="margin-top-25 striped highlight light-blue">
                <thead class="table-header-blue">
                    <tr class="table-header-tr-blue">
                        <td class="center">Descripcion</td>
                        <td class="center">Fecha inicio</td>
                        <td class="center">Fecha Fin</td>                        
                        <td class="center">Estado</td>       
                        <td class="center hide-on-med-and-down">ver requerimiento</td>
                        <td class="center hide-on-med-and-down">agregar requerimiento</td>
                        
                        @* VA CONDICIONADO *@
                        <td class="center">Opciones</td>

                    </tr>
                </thead>
                <tbody class="table-body-orange">
                    @if (Model.Count == 0)
                    {
                        <tr class="table-body">
                            <td colspan="6" class="center">
                                <b>No se encontraron coincidencias</b>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                <tr class="table-body">
                    <td class="center-align" style="text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td class="center-align" style="text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => item.inicio)
                    </td>
                    <td class="center-align" style="text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => item.Fin)
                    </td>
                    <td class="center-align" style="text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => db.Estados.Find(item.Id_Estado).descripcion)
                    </td>

                    <td class="center-align">
                        <a class="verreque" data-position="bottom" data-delay="50" title="Ver requerimento" data-tooltip="Ver requerimiento" style="cursor:pointer;" href="@Url.Action("VisualizarRequerimientos","AutorizacionView", new { Id_Calendario = item.Id_Calendario})" id-vend=""><i class="small mdi mdi-eye" style="color:red"></i></a>
                    </td>

                    <td class="center">
                        <a href="#ancla" class="agregareq" data-position="bottom" data-delay="50" title="Agregar requemiento" data-tooltip="Agregar requemiento" style="cursor:pointer;" id-item="@item.Id_Solicitud" id-vend=""><i class="mdi mdi-plus-box-multiple mdi-24px green-text"></i></a>&nbsp;&nbsp;
                    </td>

                   
                    <td class="center">
                        <a href="#ancla" class="Autoriza" data-position="bottom" data-delay="50" title="Autorizar" data-tooltip="Autorizar" style="cursor:pointer;" id-item="@item.Id_Calendario" id-vend=""><i class="mdi mdi-check-circle mdi-24px green-text"></i></a>&nbsp;&nbsp;
                        <a class="Cancelar" data-position="bottom" data-delay="50" title="Cancelar" style="cursor:pointer;" id-item="@item.Id_Calendario" id-vend="">
                            <i class="mdi mdi-close-circle mdi-24px red-text"></i>
                        </a>
                    </td>
                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            @if (Model != null)
            {
                @Html.PagedListPager(Model, page => Url.Action("_TablaCalendario", new { page, filtroBusqueda = @ViewBag.filtro })
                    , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
                    {
                        Display = PagedListDisplayMode.IfNeeded,
                        DisplayPageCountAndCurrentLocation = true,
                        DisplayItemSliceAndTotal = false,
                        PageCountAndCurrentLocationFormat = "Página {0} de {1}.",
                        ItemSliceAndTotalFormat = "Mostrando los elementos {0} a {1} de {2}.",
                        LinkToIndividualPageFormat = "{0}",
                    }, new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "TablaCalendario", // cambiar
                        OnComplete = "FltOnCompletePer", // cambiar
                        OnBegin = "FltOnBeginPer"
                    }
                )
            )
            }
        </div>
    </div>
</div>
